.headers{
    font-family: "Montserrat", sans-serif;
    color: #1d1d1d;
}

img {
    max-width: 100%;
    height: auto;
}

.mountain{
    /* background: url(mountain.jpg);
    background-repeat: no-repeat;
    background-size: cover; */

    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
        
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
        
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

.home {
    position: relative;
}

.picturewords{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color:black;
    text-align: center;
}

.name{
    margin-left: 3%; 
    display:inline-block;
}

.about{
    display:inline-block; 
    margin-left: 60%;
}

.projects{
    display:inline-block; 
    margin-left: 2%
}

.hello{
    font-size: 100px; 
    margin-bottom: 0px;
}

.intro{
    font-size: 20px; 
    margin-top: 0px;
}

.flowerpic{
    width: 10%;
}